/* Her starter sidens generelle styling */
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Raleway:wght@300;500&display=swap');
* { /* Gælder alt på hele siden */
    box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
    margin: 0; /* Ingen kanter i siden af browser */
    background-color: #12401f;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Ingen ydre margen fra overskrifter */
    padding: 0; /* Ingen indre margen fra overskrifter */
    font-family: 'Changa', sans-serif;
    color: white;
}

ul, ol {
    margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
    padding: 0; /* Ingen indre margen fra lister */
    list-style-position: inside; /* List punkter står på linje */
}

li {
    margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
    margin: 0; /* Ingen ydre margen fra paragraffer */
    padding: 0; /* Ingen indre margen fra paragraffer */
    font-family: 'Changa', sans-serif;
    color: white;
}

/* Sikrer billeder er responsive */
img {
    display: block; /* Billeder er et element (laver linjeskift) */
    max-width: 100%; /* Bredde må maks fylde 100% */
    height: auto; /* Højden skal tilpasse sig */
}

/* Farver start */
/* Farver start */
/* Farver start */

.bg-primary{
    background-color: #12401f;
}

.text-primary{
    color: white;
}

.bg-secondary{
    background-color: #ffa500;
}

.text-secondary{
    color: #ffa500;
}

.container{
    color: white;
}

.spg{
    color: white;
}

/* Farver slut */
/* Farver slut */
/* Farver slut */

/* Her stater stylingen af headeren */
/* Her stater stylingen af headeren */
/* Her stater stylingen af headeren */

.navbar{
    background-color: #12401f;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-family: 'Changa', sans-serif;
}

.nav-list{
    list-style-type: none;
}

.nav-list .list-item{
    display: inline-block;
    padding: 20px 10px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    color: #ffa500;
}

.primary-logo{
    height: 65px;
}

.menu{
    display: none;
}
/* Her slutter stylingen af headeren */
/* Her slutter stylingen af headeren */
/* Her slutter stylingen af headeren */

/* Her starter sidens FAQ */
/* Her starter sidens FAQ */
/* Her starter sidens FAQ */


h1 {
    margin: 0; /* Ingen ydre margen fra overskrifter */
    padding: 0; /* Ingen indre margen fra overskrifter */
    color: white;
    font-size: 40px;
    alignment: center;
    font-family: 'Changa', sans-serif;
}
h1:after
{
    content: '';
    display:block;
    border:2px solid white;
    font-family: 'Fira Sans', sans-serif;
    alignment: center;
}

.headerGrid{
    display: grid;
    margin-bottom: 2rem;
}

.overskrift{
    margin: 2.5rem 1rem;
    align-content: center;
    alignment: center;
    align-self: center;
    font-family: 'Changa', sans-serif;
    color: white;
}

.overskrift2{
    margin: 2.5rem 1rem;
    align-content: center;
    alignment: center;
    align-self: center;
}

.spg{
    margin: 1rem;
}

/* Her slutter sidens FAQ */
/* Her slutter sidens FAQ */
/* Her slutter sidens FAQ */

/* Her starter sidens kontakt oplysninger */
/* Her starter sidens kontakt oplysninger */
/* Her starter sidens kontakt oplysninger */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #12401f;

}

.item1{
    color: white;
    background-color: #ffa500;
    text-align: center;
    padding: 20px 20px 20px 20px;
    grid-row:1/2;
    grid-column: 1/-1;
}

.h2 {
    margin: 0; /* Ingen ydre margen fra overskrifter */
    padding: 0; /* Ingen indre margen fra overskrifter */
    color: white;
    font-size: 25px;
    font-family: 'Fira Sans', sans-serif;

}

.item2 {
    background-color: #ffa500;
    grid-row: 2/3;
    grid-column: 1/-1;
}

/* Her slutter sidens kontakt oplysninger */
/* Her slutter sidens kontakt oplysninger */
/* Her slutter sidens kontakt oplysninger */

/* Her starter media screen */
/* Her starter media screen */
/* Her starter media screen */

@media screen and (min-width: 769px){
    .headerGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .overskrift{
        grid-column: 1/-1;
        grid-row: 1/2;
        margin: 2.5rem 1rem;
        alignment: center;
        justify-self: center;
    }

    .overskrift2{
        grid-column: 1/-1;
        grid-row: 1/2;
        margin: 2.5rem 1rem;
        alignment: center;
        justify-self: center;
    }

    .spg1{
        grid-column: 1/2;
        grid-row: 2/3;
        color: white;
    }

    .spg2{
        grid-column: 2/-1;
        grid-row: 2/3;
        color: white;
    }

    .spg3{
        grid-column: 1/2;
        grid-row: 3/4;
        color: white;
    }

    .spg4{
        grid-column: 2/-1;
        grid-row: 3/4;
        color: white;
    }

    .spg5{
        grid-column: 1/2;
        grid-row: 4/5;
        color: white;
    }

    .spg6{
        grid-column: 2/-1;
        grid-row: 4/5;
        color: white;
    }

    .input [type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 2px solid #12401f;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #ffa500;
        color: #ffffff;
        padding: 12px 20px;
        border-radius: 4px;
        cursor: pointer;
        border: #12401f solid 2px;
    }

    input[type=submit]:hover {
        background-color: #ffffff;
        color: white;
    }

    .container {
        border-radius: 5px;
        background-color: #12401f;
        padding: 20px;
    }

    @media screen and (min-width: 670px){
        .headerGrid {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .overskrift{
            grid-column: 1/-1;
            grid-row: 1/2;
            margin: 2.5rem 1rem;
            alignment: center;
            justify-self: center;
        }

        .overskrift2{
            grid-column: 1/-1;
            grid-row: 1/2;
            margin: 2.5rem 1rem;
            alignment: center;
            justify-self: center;
        }

        .spg1{
            grid-column: 1/2;
            grid-row: 2/3;
            color: white;
        }

        .spg2{
            grid-column: 2/-1;
            grid-row: 2/3;
            color: white;
        }

        .spg3{
            grid-column: 1/2;
            grid-row: 3/4;
            color: white;
        }

        .spg4{
            grid-column: 2/-1;
            grid-row: 3/4;
            color: white;
        }

        .spg5{
            grid-column: 1/2;
            grid-row: 4/5;
            color: white;
        }

        .spg6{
            grid-column: 2/-1;
            grid-row: 4/5;
            color: white;
        }

        .input [type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 2px solid #12401f;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #ffa500;
            color: #ffffff;
            padding: 12px 20px;
            border-radius: 4px;
            cursor: pointer;
            border: #12401f solid 2px;
        }

        input[type=submit]:hover {
            background-color: #ffffff;
            color: white;
        }

        .container {
            border-radius: 5px;
            background-color: #12401f;
            padding: 20px;
        }


        .overskrift2{
            grid-column: 1/-1;
            grid-row: 1/2;
            margin: 2.5rem 1rem;
            alignment: center;
            justify-self: center;
            justify-content: center;
        }

        /* Her slutter media screen */
        /* Her slutter media screen */
        /* Her slutter media screen */

        /*Her starter styling af footeren */
        /*Her starter styling af footeren */
        /*Her starter styling af footeren */

        .icon-bar {
            width: 100%;
            background-color: #ffa500; /* Dark-grey background */
            overflow: auto; /* Overflow due to float */
            grid-column: 1/-1;
            font-family: 'Changa', sans-serif;
        }

        .icon-bar a {
            float: left; /* Float links side by side */
            text-align: center; /* Center-align text */
            align-items: center;
            width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
            padding: 10px 0; /* Some top and bottom padding */
            transition: all 0.3s ease; /* Add transition for hover effects */
            color: white; /* White text color */
            font-size: 30px; /* Increased font size */
        }

        .icon-bar a:hover {
            background-color: seagreen; /* Add a hover color */
        }

        .active {
            background-color: #12401f; /* Add an active/current color */
        }

        .copyright {
            background-color: #12401f;
            color: #ffa500;
            padding: 10px;
            text-align: center;
            font-size: 10px;
            font-family: 'Changa', sans-serif;
        }

        .list-item{
            color: white;
        }

        a:link {
            color: white;
            background-color: transparent;
            text-decoration: none;
        }

        a:visited {
            color: white;
            background-color: transparent;
            text-decoration: none;
        }

        a:active {
            color: white;
            background-color: transparent;
        }
/* Her slutter styling af footeren */
/* Her slutter styling af footeren */
/* Her slutter styling af footeren */